body{
	background-color:#aaa;
	color:#fff;
	font-size:12px;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#fff;
}
header{
	background-color:#444;
	margin:0;
	padding:0;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	font-size:2em;
	z-index:10;
	text-align:center;
}
header nav{
	display:inline-block;
}
#logo{
	display:inline-block;
}
#nav_add{
	display:inline-block;
}
#cart,#login{
	display:inline-block;
}
header nav ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
header nav ul li{
	float:left;
	margin:0 10px;
	padding:0;
}
main{
	margin:100px auto 50px;
	background-color:#bbb;
	min-height:700px;
	width:1400px;
	overflow:hidden;
}
main nav{
	width:250px;
	float:left;
	background-color:#ccc;
	min-height:100px;
	margin-right:50px;
}
main ul{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:2em;
	margin:10px;
	text-align:center;
}
article{
	background-color:#ccc;
	float:left;
	min-height:700px;
	width:1080px;
	padding:10px;
}
footer{
	width:100%;
	background-color:#000;
	height:150px;
}
.products{
	display:inline-block;
	width:210px;
	height:310px;
	background-color:#333;
	margin:10px;
	padding:20px;
	text-align:center;
}

.img{
	width:200px;
	height:250px;
}
#picture{
	width:880px;
	min-height:1000px;
	margin:10px;
	background-color:#333;
	float:left;
}
#descript{
	width:480px;
	min-height:1000px;
	background-color:#333;
	float:left;
	margin:10px;
}